Scripts/api_key.env
Scripts/Evaluation files/evaluation_files/

Scripts/Evaluation files/evaluation_files_itProjectManager/Layer 1/
Scripts/Evaluation files/evaluation_files_softwareEngineer/Layer 1/
Scripts/Evaluation files/evaluation_files_itHRAdministrator/Layer 1/